@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 97%);
  font-size: 1.6rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.todo {
  margin-inline: auto;
  width: 500px;
  padding: 3rem 1.5rem;
  border: 1px solid #eee;
  transform: translateY(100px);
  opacity: 0;
  visibility: hidden;
  transition: all 0.4s ease-in;

  & .todo__title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #444;
  }

  & .todo__header {
    display: grid;
    grid-template-columns: 1fr auto;
    border: 1px solid #aaa;
    padding: 1rem;
    /* margin-bottom: 3rem; */
  }

  & .todo__input-field,
  & .todo__text-field,
  & .todo__btn {
    border: none;
    padding: 1.5rem 2.5rem;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    width: 100%;
    background-color: transparent;
  }

  & .todo__input-field:focus,
  & .todo__text-field:focus,
  & .todo__btn:focus {
    outline: none;
  }

  & .todo__btn {
    color: #fff;
    background-color: hsl(0, 100%, 50%);
    cursor: pointer;
  }

  & .todos {
    border: 1px solid #aaa;
    border-top: none;
    padding: 3rem 1rem;

    & .todos__container {
      display: grid;
      grid-template-columns: 1fr auto;
      margin-block: 1.5rem;
      gap: 3rem;

      & .todos__content-text {
        background-color: transparent;
        width: 100%;
      }

      & .todos__content-actions {
        display: flex;
        gap: 2rem;
        align-self: center;
        padding-right: 1.5rem;

        & .delete {
          color: hsl(0, 100%, 50%);
          cursor: pointer;
        }

        & .edit {
          color: hsl(240, 100%, 50%);
          cursor: pointer;
        }
      }
    }
  }
}

.todo--active {
  transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
